.hijosContainer {
    border-radius: 20px;
    padding: 2rem;
    background-color: #fff;
    width: 100%;
    height: 100%; /*auto*/
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h3 {
    font-size: 1.5rem;
    color: var(--clr-primary-variant3);
    font-weight: 600;
}

.firstHijosRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mr-container {
    margin-right: 2rem;
}

.secondHijosRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); /* Adaptable a más pantallas */
    gap: 1.5rem;
    padding: 1.5rem;
    justify-items: center;
}

.card {
    width: auto;
    background-color: #e5e8eb;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(26, 11, 129, 0.3);
}

.card-content {
    width: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card-content-img {
    height: 12rem;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content-img img {
    height: 100%;
    width: 192px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra alrededor de la imagen */
    object-fit: cover; /* Asegura que la imagen llene el contenedor sin distorsión */
}

.card-content-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}

.card-content-info h4 {
    font-size: 0.9rem;
    color: #2c3e50;
    font-weight: 500;
}

.card-content-info span {
    font-weight: 400;
    color: #7f8c8d;
}

.btns-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 1rem;
}

.btnEditItem-container {
    justify-self: center;
    background: #5125AD;
    border-radius: 40px;
    display: flex; 
    max-width: 8rem; 
    min-height: 3rem; 
    align-items: center;
    padding: 0.1rem 1rem;
    gap: 0;
    margin-left: auto;
    margin-right: auto;
    transition-duration: .4s;
}

.btnEditItem-container:hover{
    background-color: #5b2ddb;
}

.btnEditItem {
    color: #FFF;
    font-size: 0.85rem;
    font-weight: 600;
    display: flex;
    width: 100%; /* Toma todo el ancho disponible del contenedor padre */
    padding: 0.3rem 0 0.3rem 0.3rem; 
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    white-space: normal; /* Permite que el texto se ajuste automáticamente */
    word-break: break-word; /* Asegura que las palabras largas se rompan correctamente */
}

.btnEditItem span {
    padding-left: 0.5rem;
    margin-right: 0.5rem;
    width: 1rem;
    font-size: 1.2rem;
    color: #FFF;
}

.btnDeleteItem-container {
    justify-self: center;
    background: #570E28;
    border-radius: 40px;
    display: flex; 
    max-width: 8rem; 
    min-height: 3rem; 
    align-items: center;
    padding: 0.1rem 1rem;
    gap: 0;
    margin-left: auto;
    margin-right: auto;
    transition-duration: .4s;
}

.btnDeleteItem-container:hover{
    background-color: #922f52;
}

.btnDeleteItem {
    color: #FFF;
    font-size: 0.85rem;
    font-weight: 600;
    display: flex;
    width: 100%; /* Toma todo el ancho disponible del contenedor padre */
    padding: 0.3rem; 
    align-items: center;
    justify-content: left;
    border: none;
    background: none;
    cursor: pointer;
    white-space: normal; /* Permite que el texto se ajuste automáticamente */
    word-break: break-word; /* Asegura que las palabras largas se rompan correctamente */
}

.btnDeleteItem span {
    padding-left: 0.5rem;
    margin-right: 0.5rem;
    width: 1rem;
    font-size: 1.2rem;
    color: #FFF;
}
