/* Header responsive */
header {
    /*background-color: rgb(194, 205, 235);*/
    padding: 1rem 3rem 0rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100rem;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header img {
    height: 60px;
    max-width: 100%;
}

.slogan {
    font-family: sans-serif;
    font-size: 2.70125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block; /* Asegura que el contenedor del texto ocupe el ancho adecuado */
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; /* Esto hace que el color de texto base sea transparente para que solo se vea el gradiente */
}

.slogan span {
    color: #FF4747; /* Color del texto del span */
}

nav {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 10px;
}

/* Estilos generales */
nav a {
    color: #404040;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 0;
    font-weight: 600;
    transition: color 0.5s ease, transform 0.3s ease;
}

nav a:hover {
    color: #125FBF;
    transform: translateY(-3px); /* Animación en hover */
}

/* Estilo del ::after cuando no está activo */
nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, #125FBF 0%, #125FBF 100%);
    transition: width 0.3s ease, left 0.3s ease; /* Añadimos la transición para el hover */
}

/* Transición en hover */
nav a:hover::after {
    width: 100%;
    left: 0; /* Ajustamos left para hacer que la línea comience desde la izquierda */
}

/* Animación del enlace activo */
@keyframes underline {
    from {
        width: 0;
        left: 50%; /* Inicia desde el centro */
    }
    to {
        width: 100%;
        left: 0; /* Llega al borde izquierdo */
    }
}

/* Aplicamos la animación cuando el enlace tiene la clase active */
nav a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #125FBF 0%, #125FBF 100%);
    animation: underline 0.3s ease forwards; /* Animación de subrayado en active */
}

/* Cambiamos el color del enlace activo */
nav a.active {
    color: #125FBF;
}


.ingresar-btn {
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.ingresar-btn:hover {
    background-color: #1b62ae;
}


/* Footer responsive */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7e7e7;
    color: #0b0b0b;
    padding: 20px;
    margin: 0;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin-bottom: 30px;
}

.footer-logo-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

.footer-column {
    flex: 1 1 200px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.footer-logos-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.footer-logo-small {
    width: 40px;
    height: auto;
}


/* Media queries para responsividad de header */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-top: 20px;
    }

    .register-button {
        align-self: center;
    }

    .subtext {
        font-size: 1rem;
    }

    .footer-columns {
        flex-direction: column;
    }
}